/* Início geral */
.d-flex{
    display: flex;
}
.flex-dir-column{
    flex-direction: column;
}
.just-center{
	justify-content: center;
}
.align-center{
	align-items: center;
}
body{
	font-family: 'Inconsolata', monospace;
	overflow-x: hidden;
	background: rgb(94,146,159);
	background: linear-gradient(90deg, rgba(94,146,159,1) 38%, rgba(201,34,42,1) 100%, rgba(201,34,42,1) 100%);
}
/* Fim geral */

/* Início estilo index.html */
.initial-body, .orders-body{
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}
.initial-form > a > button{
	width: 212px;
    height: 50px;
	cursor: pointer;
}

#moises-img{
	transform: translateY(-250px);
	opacity: 0;
	animation: appear .7s ease-in forwards;
}

@keyframes appear{
	from{
		transform: translateY(-250px);
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}
/* Fim estilo index.html */

/* Início estilo messages.html */
button{
    width: 133px;
    height: 30px;
	border: none;
    border-radius: 5px;
    background: #FFFFFF;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	font-size: 14px;
	transition: .7s all;
}

button:hover{
	background: background: rgb(94,146,159);
	background: linear-gradient(90deg, rgba(94,146,159,1) 27%, rgba(201,34,42,1) 100%, rgba(0,212,255,1) 100%);
}

textarea{
    width: 700px;
    height: 400px;
}

.products-container, .solicit-container, button, textarea{
    margin-bottom: 10px;
}
/* Fim estilo messages.html */

/* Início estilo orders.html */
#os-numbers{
	margin-bottom: 25px;
}
/* Fim estilo orders.html */